body {
  text-align: center;
  padding-top: 800px;
}
#home {
  background: linear-gradient(to bottom, #9966ff 33%, #ff99cc 107%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
img {
  width: 700px;
  margin-top: 70px;
  height: 500px;
}
p {
  font-size: 32px;
  font-family: cursive;
}
.menu {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 20;
  list-style: none;
  font-size: 20px;
  font-family: "Redressed", cursive;
}
li {
  display: inline;
}
.item {
  margin-right: 10px;
  font-size: 32px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.menu a {
  text-decoration: none;
  color: black;
}
#picture {
  transition: transform 0.2s;
  border: 10px solid;
  height: 700px;
  width: 500px;
  margin-top: 5px;
}
#picture:hover {
  transform: scale(0.9);
}
h4 {
  font-size: 25px;
}
#Twitter {
  height: 100px;
  width: 100px;
}
h3 {
  font-size: 22px;
}
#song_p {
  color: blueviolet;
  text-align: center;
}
